{
  "printWidth": 140,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 4,
  "semi": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
