@use 'colors' as *;
@use 'typography' as *;

.wrap {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background: $light-background-stroke;
}

.list {
    overflow: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 24px;

    padding: 36px;
}

.item {

    /**
     * Делаем центрирование старым добрым способом, потому что
     * c флексом идет обрезка страниц слева при масштабировании
     */
    margin: 0 auto;
}

.scale {
    position: absolute;
    z-index: 4;
    right: 60px;
    bottom: 60px;
}

/**
 * Батон можно вынести в отдельный компонент в составе ui-kit
 */

.save-button {
    cursor: pointer;

    position: absolute;
    z-index: 4;
    bottom: 60px;
    left: 60px;

    width: 130px;
    height: 40px;
    border: none;
    border-radius: 30px;

    background: $light-controls-primary-active;
    box-shadow: $grey-shadow-2;

    @include p1-regular($light-text-inverted);
}
