<div
    [dropZone]="page().number"
    class="wrap"
    (dblclick)="onCreateAnnotation($event)"
    [style.width.px]="pageSize$$().width"
    [style.height.px]="pageSize$$().height"
>
    <img
        [src]="link$$()"
        [style.width.px]="pageSize$$().width"
        [style.height.px]="pageSize$$().height"
    />

    @for (item of annotations(); track item.id) {
        <annotation
            dragItem
            dragErrorClassName="pulse-red"
            (dragItemEnd)="onMoveAnnotation($event, item)"
            [ngStyle]="{
                top: getAnnotationPosition(item).y,
                left: getAnnotationPosition(item).x,
            }"
            [annotation]="item"
            (update)="onUpdateAnnotation($event)"
            (remove)="onRemoveAnnotation($event)"
        ></annotation>
    }
</div>
