@use 'colors' as *;
@use 'typography' as *;

.wrap {
    position: relative;
    display: block;

    // width: auto;
    // max-width: none;
    // height: auto;
    // max-height: none;

    background-color: $light-background-primary;
    box-shadow: $grey-shadow;
}
